{% extends 'base.html.twig' %}
{% trans_default_domain 'app_profile_name' %}

{% block title %}{{ 'Profile'|trans }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">{{ 'Home'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('profile') }}">{{ 'Profile'|trans }}</a></li>
        <li class="breadcrumb-item active">{{ 'Name'|trans }}</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success">{{ 'Set Name'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}