{% extends 'base.html.twig' %}
{% trans_default_domain 'app_profile_show' %}

{% block title %}{{ 'Profile'|trans }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">{{ 'Home'|trans }}</a></li>
        <li class="breadcrumb-item active">{{ 'Profile'|trans }}</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">{{ 'Profile'|trans }}</div>
        <div class="card-body">
            <table class="table table-bordered mb-0">
                <tbody>
                    <tr>
                        <th>{{ 'Name'|trans }}</th>
                        <td>
                            {{ user.name.full }}
                            <a href="{{ path('profile.name') }}" class="btn btn-sm btn-outline-primary"><span class="fa fa-pencil"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'Email'|trans }}</th>
                        <td>
                            {{ user.email ? user.email.value : '' }}
                            <a href="{{ path('profile.email') }}" class="btn btn-sm btn-outline-primary"><span class="fa fa-pencil"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'Created'|trans }}</th>
                        <td>{{ user.date|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Role'|trans }}</th>
                        <td>{{ user_role(user.role.name) }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Status'|trans }}</th>
                        <td>{{ user_status(user.status) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}