{% extends 'base.html.twig' %}
{% trans_default_domain 'app_users_create' %}

{% block title %}{{ 'Users'|trans }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">{{ 'Home'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('users') }}">{{ 'Users'|trans }}</a></li>
        <li class="breadcrumb-item active">{{ 'Create'|trans }}</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">{{ 'Create'|trans }}</button>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}