{% extends 'base.html.twig' %}
{% trans_default_domain 'app_users_index' %}

{% block title %}{{ 'Users'|trans }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">{{ 'Home'|trans }}</a></li>
        <li class="breadcrumb-item active">{{ 'Users'|trans }}</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="controls">
        <a href="{{ path('users.create') }}" class="btn btn-success">{{ 'Create User'|trans }}</a>
    </div>

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-2">{{ form_widget(form.name) }}</div>
                <div class="col-md-2">{{ form_widget(form.email) }}</div>
                <div class="col-md-2">{{ form_widget(form.role) }}</div>
                <div class="col-md-2">{{ form_widget(form.status) }}</div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">{{ 'Filter'|trans }}</button>
                    <a href="{{ path('users') }}" class="btn btn-outline-secondary">{{ 'Reset'|trans }}</a>
                </div>
            </div>
            {{ form_end(form) }}

        </div>
    </div>

    <div class="box">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Date'|trans, 'date') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Email'|trans, 'email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Role'|trans, 'role') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Status'|trans, 'status') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination %}
                <tr>
                    <td>{{ user.date|date('Y-m-d') }}</td>
                    <td><a href="{{ path('users.show', {'id': user.id}) }}">{{ user.name }}</a></td>
                    <td>{{ user.email }}</td>
                    <td>{{ user_role(user.role) }}</td>
                    <td>{{ user_status(user.status) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}