{% extends 'base.html.twig' %}
{% trans_default_domain 'app_home' %}

{% block title %}{{ 'Home'|trans }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">{{ 'Home'|trans }}</li>
    </ol>
{% endblock %}

{% block body %}

    {{ work_projects_calendar() }}

    <div class="row">
        <div class="col-md-6">
            {{ work_projects_own_tasks() }}
        </div>
        <div class="col-md-6">
            {{ work_projects_tasks_for_me() }}
        </div>
    </div>

{% endblock %}